<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="en">
<head>

    <meta name="google-site-verification" content="5FUlxCiQgOWHvq4rIckf8hkf-25fn8kqeDeO6LgNx3w"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <meta name="keywords" content="{{ seo_meta_keywords }}">
    <meta name="description" content="{{ seo_meta_description }}">
    <link rel="shortcut icon" href="{{ favicon }}"/>
    <title>{{ seo_title }}</title>

</head>
<body id="page-{{ path | pageid }}">

<div id="wrapper" class="aos-init aos-animate">
    {% section header %}
    <main>
        {{ content_for_layout }}
    </main>
    {% section footer %}
</div>
</body>
</html>

