html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {
    min-height: 100vh;
}
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
    font-weight: bold;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}
h4 {
    font-size: 1em;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#wrapper {
    border-top: solid 3px #f4f4f3;
    min-height: 100vh;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: auto;
}
.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.image-text-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.image-with-text__text {
    padding-top: 35px;
    padding-bottom: 35px;
}
.image-with-text__image {
    min-height: 350px;
}
.placeholder-svg {
    display: block;
    fill: rgba(105, 114, 123, 0.35);
    background-color: rgba(105, 114, 123, 0.1);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid rgba(105, 114, 123, 0.2);
}
footer {
    padding-top: 25px;
    padding-bottom: 25px;
}
#cards {
    padding-top: 35px;
    padding-bottom: 35px;
}
#cards .card {
    margin-bottom: 15px;
    border: solid 1px #cccccc;
    border-radius: 5px;
}
#cards .card h3 {
    padding: 10px;
    background-color: #cccccc;
    margin-top: 0;
}
#cards .card p {
    padding: 10px;
}
#slider {
    padding-top: 35px;
    padding-bottom: 35px;
}
#slider * {
    box-sizing: border-box;
}
#slider .slideshow-container {
    position: relative;
    margin: auto;
}
#slider .mySlides {
    display: none;
}
#slider .prev,
#slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
#slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#slider .prev:hover,
#slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
#slider .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
#slider .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
#slider .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
#slider .active,
#slider .dot:hover {
    background-color: #717171;
}
#slider .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
