<div class="main-blog">
    <div class="container">
        {% paginate posts by 7 %}
            <div class="grid header-post">
                <div class="item blog-description">
                    <h3>{{ blog.name }}</h3>
                    <h2>{{ our_work_title }}</h2>
                    <p>{{ our_work_subtitle }}</p>
                    <div class="post-categories">
                        <ul>
                            <li><a href="/{{ blog.slug }}">All</a></li>
                            {% for cat in categories %}
                                <li>
                                    <a href="/{{ blog.slug }}/tag/{{ cat.slug }}">{{ cat.name | downcase | capitalize }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="item post-list-item">
                    <div class="item pointer post-list-item" onclick="window.location.href='{{ posts[0].url }}'"
                         data-aos="zoom-in" data-aos-duration="1000">
                        <div class="header-img"
                             style="background-image: url({{ posts[0].image_url | resize: '800x800' }})">
                            <div class="yellow-overlay"></div>
                        </div>
                        <div class="work-content">
                            <div class="tag">{{ posts[0].tags[0].name }}</div>
                            <h3>{{ posts[0].title }}</h3>
                            {% comment %}<div class="author">{{ posts[0].author }}</div>{% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-2">
                {% for post in posts %}
                    {% if forloop.index != 1 %}
                        <div class="item post-list-item" data-aos="zoom-in" data-aos-duration="1000">
                            <div class="item pointer post-list-item" onclick="window.location.href='{{ post.url }}'"
                                 data-aos="zoom-in" data-aos-duration="1000">
                                <div class="header-img"
                                     style="background-image: url({{ post.image_url | resize: '800x800' }})">
                                    <div class="yellow-overlay"></div>
                                </div>
                                <div class="work-content">
                                    <div class="tag">{{ post.tags[0].name }}</div>
                                    <h3>{{ post.title }}</h3>
                                    {% comment %}<div class="author">{{ post.author }}</div>{% endcomment %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        {% endpaginate %}
    </div>

</div>
<div class="text-button" style="background-color: {{ primary_color }}">
    <div class="container">
        <h2 data-aos="fade-up" data-aos-duration="1000">{{ text_button_title }}</h2>
        <div class="buttons" data-aos="fade-up" data-aos-duration="1000">
            {% if is_mobile %}
                <a href="sms:{{ text_button_phone }}" class="button secondary">{{ text_button_text }}</a>
            {% else %}
                <a href="{{ text_button_url }}" class="button secondary">{{ text_button_text }}</a>
            {% endif %}

        </div>
    </div>
</div>