{% if form_notice %}
<div class='alert alert-success'>{{ form_notice }}</div>
{% elsif form_errors %}
<div class='alert alert-danger'>
    <ul>
        {% for error in form_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{{ form | form_tag }}

{% for field in form.form_fields %}
<div class='form-group'>
    <label for='{{ field.css_id }}'>{{ field.label }}</label>
    {{ field.id | field_tag }}
</div>
{% endfor %}
<button type='submit'>Submit</button>
</form>